@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
//btn-primary = blue color button secondary = gray color
//asp-action = where to redirect
